/* Estilos da página index.html */

.container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

#menu li {
  display: inline;
  padding: 5px;
}

#menu li a {
  text-decoration: none;
  color: rgb(126, 126, 126);
  font-size: 20px;
}

#menu li a:hover {
  color: rgb(15, 15, 15);
}

/* img {
  border-radius: 50%;
} */

/* Estilos da página contato.html */