* {
  font-family: 'Montserrat', sans-serif;
}

h1, h3 {
  text-align: center;
  font-weight: 100;
}

.container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 940px;
  margin: 0 auto;
}

#menu li {
  display: inline;
  padding: 5px;
}

#menu li a {
  text-decoration: none;
  color: rgb(126, 126, 126);
  font-size: 20px;
}

#menu li a:hover {
  color: rgb(15, 15, 15);
}

/* Conteudo */
.img-retrato {
  border-radius: 50%;
}

.titulo-topico {
  color: #F47F80;
}

.texto {
  padding: 15px;
  text-align: justify;
}

/* Formulario */

form {
  margin: 40px 0;
}

form label, form legend {
  display: block;
  margin: 0 0 10px;
}